<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.bolton.archimate.editor.exportHandler">
      <exportHandler
            class="org.rulez.magwas.styledhtml.StyledHtml"
            id="org.rulez.magwas.styledhtml.StyledHtml"
            label="Model To Styled HTML...">
      </exportHandler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.rulez.magwas.styledhtml.StyledPreferencePage"
            id="org.rulez.magwas.styledhtml.prefsStyled"
            name="Styled Export">
         <keywordReference
               id="StyledExport">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="uk.ac.bolton.archimate.editor.exportHandler">
      <exportHandler
            class="org.rulez.magwas.styledhtml.RichExport"
            id="org.rulez.magwas.styledhtml.RichExport"
            label="Model to rich format">
      </exportHandler>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.rulez.magwas.enterprise.SaveThis"
            targetID="uk.ac.bolton.archimate.editor.treeModelView">
         <action
               class="org.rulez.magwas.enterprise.ExportPart"
               id="org.rulez.magwas.enterprise.SaveThis"
               label="Move This To..."
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
</plugin>
