<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.rulez.magwas.enterprise.SaveThis"
            targetID="uk.ac.bolton.archimate.editor.treeModelView">
         <action
               class="org.rulez.magwas.enterprise.ExportPart"
               id="org.rulez.magwas.enterprise.SaveThis"
               label="Save This To..."
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.rulez.magwas.enterprise.repository.RepositoryPreferencesPage"
            id="org.rulez.magwas.enterprise.pref1"
            name="Enterprise">
      </page>
   </extension>
   <extension
         id="CDOServer"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.emf.cdo.server.app"
            name="A CDO Server">
         <property
               name="appName"
               value="A CDO Server">
         </property>
      </product>
   </extension>
</plugin>
