<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.rulez.magwas.enterprise.SaveThis"
            targetID="uk.ac.bolton.archimate.editor.treeModelView">
         <action
               class="org.rulez.magwas.enterprise.ExportPart"
               id="org.rulez.magwas.enterprise.SaveThis"
               label="Save This To..."
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
</plugin>
